:root {
  --font-family: "Gilroy-Medium", sans-serif;
  --second-family: "Gilroy-Regular", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "Gilroy-Bold", sans-serif;
  --font4: "DM Sans", sans-serif;
  --font5: "Gilroy-SemiBold", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1285px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(../../assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url(../../assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../../assets/fonts/Gilroy-SemiBold.ttf);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .line {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.dropdown-btn {
  background-color: transparent;
  padding: 10px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dropdown-btn p {
  transition: all 0.3 ease;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.dropdown-btn:hover > .inner {
  transform: scale(1.04);
  transition: all 0.3 ease;
}
.dropdown-btn:hover > .inner:nth-child(2) {
  transform: scale(1.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.dropdown-content a:hover {
  transform: scale(1.05);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hero .input-div {
  position: relative;
  width: 344px;
  height: 56px;
}
.hero .input-div input {
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding: 8px 8px 8px 20px;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  position: relative;
  z-index: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.hero .input-div input::-moz-placeholder {
  opacity: 0.8;
}
.hero .input-div input::placeholder {
  opacity: 0.8;
}
.hero .input-div .search {
  position: absolute;
  right: 8px;
  z-index: 2;
  border-radius: 24px;
  padding: 11px;
  background: #e58411;
  border: none;
  top: 7.5px;
}

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
}

#backToTop.show {
  transform: translateY(0);
  opacity: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 1325px;
  transition: all 0.3s ease;
  position: absolute;
  margin-top: 10px;
  top: 0;
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  gap: 65px;
  margin-left: -8%;
}
header a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
header .logo {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
header #counter {
  background-color: #E58411;
  padding: 4px;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--font-family);
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
header .counter-bag {
  position: relative;
  cursor: pointer;
}

header.shrink {
  position: fixed;
  top: 20px;
  border-radius: 30px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  z-index: 100;
  margin-top: 0 !important;
}

.corusel-filter {
  background-color: #f7f7f7;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
}
.corusel-filter h2 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
}
.corusel-filter p {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
  display: flex;
  align-items: start;
  gap: 1px;
}
.corusel-filter p span {
  font-size: 14px;
}
.corusel-filter small {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 16px;
  color: #8d8d8d;
  margin-bottom: 7px;
}
.corusel-filter h3 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 21px;
  color: #0d1b39;
  margin-bottom: 7px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 20px;
  background: #eee;
  width: -moz-max-content;
  width: max-content;
  height: 58px;
  margin: 0 auto 20px;
  padding: 5px;
  border-radius: 44px;
}

.filters button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
  transition: all 0.3 ease;
}

.filters button.active {
  border-radius: 32px;
  padding: 7px 19px;
  background-color: #fff;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel {
  display: flex;
  gap: 42px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel ::-webkit-scrollbar {
  display: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel .card {
  flex: 0 0 calc(25% - 34px);
  width: 286px;
  height: 492px;
  border-radius: 20px;
  text-align: center;
  gap: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  background-color: #fafafa;
  margin-top: 80px;
}
.carousel .card .card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 200px;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding: 14px 22px 28px 22px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: -20px;
}

.arrow.right {
  right: -20px;
}

.grid {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 70px 42px;
  margin-top: 80px;
}

.grid.active {
  display: grid;
}

.grid .card {
  width: 286px;
  height: 492px;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 36px;
  justify-content: space-between;
  flex-direction: column;
}
.grid .card .card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: 200px;
  background-color: white;
  width: 100%;
  border-radius: 0 0 20px 20px;
  padding: 14px 22px 28px 22px;
}

.plus-btn {
  margin: 0 !important;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.plus {
  margin: 0 !important;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card img {
  height: auto;
  width: 80%;
  border-radius: 5px;
  margin-top: -40px;
}

.view-all {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.view-all button {
  background-color: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #e58411;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars {
  margin: 0 0 45px !important;
  width: 40% !important;
}

.k-two h5 {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
  color: #e58411;
  margin-bottom: 10px;
}
.k-two h2 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  text-align: center;
  color: #1e1e1e;
}

.testimonial-carousel-container {
  max-width: 120 5px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  display: flex;
  margin-bottom: 120px;
  align-items: center;
}

.testimonial-carousel {
  display: flex;
  gap: 10px;
  width: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.testimonial-carousel ::-webkit-scrollbar {
  display: none;
}
.testimonial-carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  flex: 0 0 calc(33.333% - 10px);
  text-align: center;
  margin-top: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.testimonial-card .union {
  position: absolute;
  bottom: -11%;
  z-index: 10;
  left: 49.85%;
  transform: translate(-50%);
  width: 85%;
}
.testimonial-card .content {
  position: absolute;
  z-index: 10;
  bottom: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial-card .content strong {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 6px;
  color: #1e1e1e;
}
.testimonial-card .content p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 22px;
}
.testimonial-card .content b {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin-bottom: 22px;
  color: #1e1e1e;
}

.testimonial-card img {
  width: 100%;
  height: 100%;
}

.testimonial-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-arrow.left {
  left: 0px;
  top: 200px;
}

.testimonial-arrow.right {
  right: 10px;
  top: 200px;
}

footer {
  padding: 120px 0 56px 0;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 120px;
}
footer .content {
  width: 75%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
footer .copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
footer .copy .right {
  display: flex;
  align-items: center;
  gap: 40px;
}
footer h4 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #1e1e1e;
  margin-bottom: 14px;
}
footer p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  opacity: 0.8;
  width: 283px;
}
footer h6 {
  font-family: var(--font4);
  font-weight: 400;
  margin-bottom: 4px;
  font-size: 17px;
  letter-spacing: -0.01em;
  color: #f6973f;
}
footer a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #1e1e1e;
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 15px;
}
footer .column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
}
footer small {
  font-family: var(--font4);
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.01em;
  color: #1e2833;
  opacity: 0.5;
}

.hero {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%), url("../../assets/images/Group 48095438.webp");
  min-height: 1084px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 27px;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.hero h1 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  margin: 152px 0 14px;
}
.hero h4 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  margin-bottom: 45px;
}

.second {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 120px 0;
}
.second .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second .cards {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 72%;
  gap: 28px;
}
.second .cards h4 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 24px;
  color: #1e1e1e;
}
.second .cards p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  color: #1e1e1e;
  margin-top: 30px;
}
.second .cards a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 4px;
}
.second h2 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 42px;
  color: #1e1e1e;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 240px 0;
  gap: 240px;
  flex-direction: column;
}
.about a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 185%;
  color: #e58411;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 4px;
}
.about .line {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding: 0 calc((100vw - 1285px) / 2);
}
.about .line:nth-child(2) {
  justify-content: start;
  margin-top: 240px;
}
.about .line .content {
  width: 590px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
}
.about h5 {
  font-family: var(--font5);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  color: #e58411;
}
.about h2 {
  font-family: var(--font3);
  font-weight: 400;
  font-size: 42px;
  text-transform: capitalize;
  color: #1e1e1e;
}
.about p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 185%;
  color: #1e1e1e;
  opacity: 0.8;
}
.about .about-bg1 {
  width: 728px;
  height: 541px;
  position: absolute;
  left: 0;
  top: -60px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: -1;
}
.about .about-img1 {
  width: 629px;
  height: 445px;
  position: absolute;
  left: 0;
  top: 0px;
}
.about .about-bg2 {
  position: absolute;
  right: 0;
  top: -60px;
}
.about .about-img2 {
  position: absolute;
  right: 0;
  top: 0px;
}
.about .db-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 467px;
  top: -120px;
}

@media screen and (max-width: 1350px) {
  .container {
    max-width: 1085px !important;
    margin: 0 auto;
  }
  header {
    width: 1125px !important;
  }
  .about .line {
    padding: 0 calc((100vw - 1085px) / 2) !important;
  }
  .about-bg1 {
    width: calc(728px - 15%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: -40px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: -1;
  }
  .about-img1 {
    width: calc(629px - 13%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .about-bg2 {
    position: absolute;
    right: 0;
    width: calc(491px - 10%) !important;
    top: -50px;
  }
  .about-img2 {
    position: absolute;
    width: calc(445px - 10%) !important;
    right: 0;
    top: 0px;
  }
  .db-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: calc(467px - 12%) !important;
    top: -140px !important;
  }
  .db-img img {
    width: calc(276px - 20%) !important;
  }
  h2 {
    font-size: 33px !important;
  }
  p {
    font-size: 16px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h1 {
    font-size: 70px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  a {
    font-size: 13px !important;
  }
  .carousel .card {
    height: auto !important;
  }
  .grid.active {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .about .line .content {
    width: 45% !important;
  }
}
@media screen and (max-width: 1224px) {
  .container {
    max-width: 90vw !important;
    margin: 0 auto;
  }
  header {
    width: 90vw !important;
  }
  h2 {
    font-size: 28px !important;
  }
  p {
    font-size: 14px !important;
  }
  h5 {
    font-size: 14px !important;
  }
  h4 {
    font-size: 17px !important;
  }
  a {
    font-size: 12px !important;
  }
  .about .line {
    padding: 0 5vw !important;
  }
}
@media screen and (max-width: 1111px) {
  .grid.active {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .grid.active .card {
    height: auto !important;
    width: 250px !important;
  }
  .about .content.second {
    margin-top: -100px !important;
  }
  .about-bg1 {
    width: calc(728px - 20%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: -40px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: -1;
  }
  .about-img1 {
    width: calc(629px - 20%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .about-bg2 {
    position: absolute;
    right: 0;
    width: calc(491px - 20%) !important;
    top: -50px;
  }
  .about-img2 {
    position: absolute;
    width: calc(445px - 20%) !important;
    right: 0;
    top: 0px;
  }
  .db-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: calc(467px - 25%) !important;
    top: -160px !important;
  }
  .db-img img {
    width: calc(276px - 30%) !important;
  }
  .testimonial-card {
    flex: 0 0 calc(50% - 10px);
  }
  .testimonial-card .content {
    position: absolute;
    z-index: 10;
    bottom: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial-card .content strong {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2px;
    color: #1e1e1e;
  }
  .testimonial-card .content p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 8px;
  }
  .testimonial-card .content b {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    margin-bottom: 8px !important;
    color: #1e1e1e;
  }
}
@media screen and (max-width: 980px) {
  .grid.active {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .grid.active .card {
    height: auto !important;
    width: 300px !important;
  }
  .about .content.second {
    margin-top: -100px !important;
  }
  .about .about-bg1 {
    width: calc(728px - 44%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: -30px !important;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    z-index: -1;
  }
  .about .about-img1 {
    width: calc(629px - 38%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .about .about-bg2 {
    position: absolute;
    right: 0;
    width: calc(491px - 33%) !important;
    top: -30px !important;
  }
  .about .about-img2 {
    position: absolute;
    width: calc(445px - 28%) !important;
    right: 0;
    top: 0px;
  }
  .about .db-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: calc(467px - 38.5%) !important;
    top: -85px !important;
  }
  .about .db-img img {
    width: calc(276px - 46%) !important;
  }
  h2 {
    font-size: 22px !important;
  }
  p {
    font-size: 12px !important;
  }
  h5 {
    font-size: 12px !important;
  }
  h1 {
    font-size: 50px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  a {
    font-size: 12px !important;
  }
  h3 {
    font-size: 16px !important;
  }
  small {
    font-size: 14px !important;
  }
  .stars {
    width: 60px !important;
  }
  .carousel .card {
    flex: 0 0 calc(50% - 34px) !important;
  }
  .carousel .card .card-info {
    height: 180px !important;
  }
  .arrow.right {
    right: 0px !important;
  }
}
@media screen and (max-width: 768px) {
  .grid.active .card {
    height: auto !important;
    width: 250px !important;
  }
  .about {
    gap: 0px !important;
    padding: 100px 0 !important;
  }
  .second .container {
    padding-left: 30px;
    flex-wrap: wrap;
    gap: 40px;
  }
  .second .container h2 {
    font-size: 30px !important;
  }
  .second .container .cards {
    flex-wrap: wrap;
    width: 100% !important;
  }
  .input-div {
    width: 70% !important;
  }
  .input-div ::-moz-placeholder {
    font-size: 14px !important;
  }
  .input-div ::placeholder {
    font-size: 14px !important;
  }
  .db-img {
    display: none !important;
  }
  .about .content.second {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 680px) {
  h1 {
    font-size: 40px !important;
  }
  h4 {
    font-size: 16px !important;
  }
  header nav {
    display: none;
  }
  header .logo {
    font-size: 22px !important;
  }
  .carousel {
    padding-left: 30px;
  }
  .carousel .card {
    flex: 0 0 90% !important;
  }
  footer {
    gap: 50px;
    padding-top: 50px;
  }
  footer .content {
    flex-wrap: wrap;
  }
  footer .column {
    margin-bottom: 20px;
  }
  .about-bg1, .about-bg2, .about-img1, .about-img2, .db-img {
    display: none !important;
  }
  .about {
    gap: 0px !important;
    padding: 100px 0 !important;
  }
  .about .line .content {
    width: 100% !important;
  }
}
@media screen and (max-width: 500px) {
  .testimonial-card {
    flex: 0 0 calc(100% - 34px) !important;
  }
  .testimonial-card strong {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 18px !important;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 6px !important;
    color: #1e1e1e;
  }
  .testimonial-card p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px !important;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 12px !important;
  }
  .testimonial-card b {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px !important;
    text-align: center;
    margin-bottom: 12px !important;
    color: #1e1e1e;
  }
}/*# sourceMappingURL=main.css.map */