.hero {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #fff 100%),
    url("../../assets/images/Group\ 48095438.webp");
  min-height: 1084px;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding-top: 27px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  h1 {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 80px;
    line-height: 130%;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin: 152px 0 14px;
  }
  h4 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    margin-bottom: 45px;
  }
}
.second {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 120px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cards {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 72%;
    gap: 28px;
    h4 {
      font-family: var(--font3);
      font-weight: 400;
      font-size: 24px;
      color: #1e1e1e;
    }
    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 185%;
      color: #1e1e1e;
      margin-top: 30px;
    }
    a {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      line-height: 185%;
      color: #e58411;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 14px;
      margin-top: 4px;
    }
  }
  h2 {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 42px;
    color: #1e1e1e;
  }
}
.about {
  a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 185%;
    color: #e58411;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 4px;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 240px 0;
  gap: 240px;
  flex-direction: column;

  .line {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 0 calc((100vw - 1285px) / 2);
    &:nth-child(2) {
      justify-content: start;
      margin-top: 240px;
    }
    .content {
      width: 590px;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 20px;
    }
  }
  h5 {
    font-family: var(--font5);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #e58411;
  }
  h2 {
    font-family: var(--font3);
    font-weight: 400;
    font-size: 42px;
    text-transform: capitalize;
    color: #1e1e1e;
  }
  p {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 185%;
    color: #1e1e1e;
    opacity: 0.8;
  }
  .about-bg1 {
    width: 728px;
    height: 541px;
    position: absolute;
    left: 0;
    top: -60px;
    user-select: none;
    z-index: -1;
  }
  .about-img1 {
    width: 629px;
    height: 445px;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .about-bg2 {
    position: absolute;
    right: 0;
    top: -60px;
  }
  .about-img2 {
    position: absolute;
    right: 0;
    top: 0px;
  }
  .db-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 467px;
    top: -120px;
  }
}
