@media screen and (max-width: 1350px) {
  .container {
    max-width: 1085px !important;
    margin: 0 auto;
  }
  header {
    width: 1125px !important;
  }
  .about .line {
    padding: 0 calc((100vw - 1085px) / 2) !important;
  }
  .about-bg1 {
    width: calc(728px - 15%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: -40px;
    user-select: none;
    z-index: -1;
  }
  .about-img1 {
    width: calc(629px - 13%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .about-bg2 {
    position: absolute;
    right: 0;
    width: calc(491px - 10%) !important;
    top: -50px;
  }
  .about-img2 {
    position: absolute;
    width: calc(445px - 10%) !important;
    right: 0;
    top: 0px;
  }
  .db-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: calc(467px - 12%) !important;
    top: -140px !important;
    img {
      width: calc(276px - 20%) !important;
    }
  }
  h2 {
    font-size: 33px !important;
  }
  p {
    font-size: 16px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h1 {
    font-size: 70px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  a {
    font-size: 13px !important;
  }
  .carousel .card {
    height: auto !important;
  }
  .grid.active {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .about .line .content {
    width: 45% !important;
  }
}

@media screen and (max-width: 1224px) {
  .container {
    max-width: 90vw !important;
    margin: 0 auto;
  }
  header {
    width: 90vw !important;
  }
  h2 {
    font-size: 28px !important;
  }
  p {
    font-size: 14px !important;
  }
  h5 {
    font-size: 14px !important;
  }

  h4 {
    font-size: 17px !important;
  }
  a {
    font-size: 12px !important;
  }
  .about .line {
    padding: 0 calc((100vw - 90vw) / 2) !important;
  }
}

@media screen and (max-width: 1111px) {
  .grid.active {
    grid-template-columns: repeat(3, 1fr) !important;
    .card {
      height: auto !important;
      width: 250px !important;
    }
  }
  .about {
    .content.second {
      margin-top: -100px !important;
    }
  }
  .about-bg1 {
    width: calc(728px - 20%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: -40px;
    user-select: none;
    z-index: -1;
  }
  .about-img1 {
    width: calc(629px - 20%) !important;
    height: auto !important;
    position: absolute;
    left: 0;
    top: 0px;
  }
  .about-bg2 {
    position: absolute;
    right: 0;
    width: calc(491px - 20%) !important;
    top: -50px;
  }
  .about-img2 {
    position: absolute;
    width: calc(445px - 20%) !important;
    right: 0;
    top: 0px;
  }
  .db-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: calc(467px - 25%) !important;
    top: -160px !important;
    img {
      width: calc(276px - 30%) !important;
    }
  }

  .testimonial-card {
    flex: 0 0 calc(50% - 10px);
    .content {
      position: absolute;
      z-index: 10;
      bottom: 95px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      strong {
        font-family: var(--font3);
        font-weight: 400;
        font-size: 14px;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 2px;
        color: #1e1e1e;
      }
      p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        color: #1e1e1e;
        margin-bottom: 8px;
      }
      b {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 10px;
        text-align: center;
        margin-bottom: 8px !important;
        color: #1e1e1e;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .grid.active {
    grid-template-columns: repeat(2, 1fr) !important;
    .card {
      height: auto !important;
      width: 300px !important;
    }
  }
  .about {
    .content.second {
      margin-top: -100px !important;
    }
    .about-bg1 {
      width: calc(728px - 44%) !important;
      height: auto !important;
      position: absolute;
      left: 0;
      top: -30px !important;
      user-select: none;
      z-index: -1;
    }
    .about-img1 {
      width: calc(629px - 38%) !important;
      height: auto !important;
      position: absolute;
      left: 0;
      top: 0px;
    }
    .about-bg2 {
      position: absolute;
      right: 0;
      width: calc(491px - 33%) !important;
      top: -30px !important;
    }
    .about-img2 {
      position: absolute;
      width: calc(445px - 28%) !important;
      right: 0;
      top: 0px;
    }
    .db-img {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      right: calc(467px - 38.5%) !important;
      top: -85px !important;
      img {
        width: calc(276px - 46%) !important;
      }
    }
  }
  h2 {
    font-size: 22px !important;
  }
  p {
    font-size: 12px !important;
  }
  h5 {
    font-size: 12px !important;
  }
  h1 {
    font-size: 50px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  a {
    font-size: 12px !important;
  }

  h3 {
    font-size: 16px !important;
  }
  small {
    font-size: 14px !important;
  }
  .stars {
    width: 60px !important;
  }
  .carousel .card {
    flex: 0 0 calc(50% - 34px) !important;
    .card-info {
      height: 180px !important;
    }
  }
  .arrow.right {
    right: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .grid.active {
    .card {
      height: auto !important;
      width: 250px !important;
    }
  }
  .about{
    gap: 0px !important;
    padding: 100px 0 !important ;
  }
  .second .container {
    padding-left: 30px;
    flex-wrap: wrap;
    gap: 40px;
    h2 {
      font-size: 30px !important;
    }
    .cards {
      flex-wrap: wrap;
      width: 100% !important;
    }
  }
  .input-div {
    width: 70% !important;
    ::placeholder {
      font-size: 14px !important;
    }
  }
  .db-img {
    display: none !important;
  }
  .about .content.second {
    margin-top: 0px !important;
  }

}

@media screen and (max-width: 680px) {
  h1{
    font-size: 40px !important;
  }
  h4{
    font-size: 16px !important;
  }
  header{
    nav{
      display: none;
    }
    .logo{
      font-size: 22px !important;
    }
  }
  .carousel{
    padding-left: 30px;
   .card {
    flex: 0 0 calc(90%) !important;
  }}
  footer{
    gap: 50px;
    .content{
      flex-wrap: wrap;
    }
    padding-top: 50px;
    .column{
      margin-bottom: 20px;
    }
  }
  .about-bg1,.about-bg2, .about-img1, .about-img2, .db-img{
    display: none !important;
  }
  .about{
    gap: 0px !important;
    padding: 100px 0 !important;
    .line{
      .content{
        width: 100% !important;
      }
    }
  }
}


@media screen and (max-width: 500px) {
  .testimonial-card {
    flex: 0 0 calc(100% - 34px) !important;

    strong {
      font-family: var(--font3);
      font-weight: 400;
      font-size: 18px !important;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 6px !important;
      color: #1e1e1e;
    }
    p {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18px !important;
      text-align: center;
      color: #1e1e1e;
      margin-bottom: 12px !important;
    }
    b {
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 12px !important;
      text-align: center;
      margin-bottom: 12px !important;
      color: #1e1e1e;
    }
  }
}