:root {
    --font-family: "Gilroy-Medium", sans-serif;
    --second-family: "Gilroy-Regular", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "Gilroy-Bold", sans-serif;
    --font4: "DM Sans", sans-serif;
    --font5: "Gilroy-SemiBold", sans-serif;
  }